<form
  class="todo-add-form"
  [formGroup]="todoForm"
  (submit)="submitApplication()"
>
  <h2>Add new item to ToDo List</h2>
  <div class="todo-add-form__item">
    <label for="todo" class="todo-label">To do:</label>
    <input
      class="todo-input"
      type="text"
      id="todo"
      name="todo"
      placeholder="Input the todo task"
      formControlName="todo"
    />
  </div>
  <div *ngIf="todo?.errors?.['required']" class="todo-error">
    Fuild "To do" is required.
  </div>
  <div class="todo-add-form__item">
    <label for="todo-status" class="todo-label">Status:</label>
    <select
      class="todo-select"
      id="todo-status"
      name="todo-status"
      formControlName="status"
    >
      <option value="ordinary">Ordinary</option>
      <option value="important">Important</option>
      <option value="done">Done</option>
    </select>
  </div>
  <button type="submit" class="todo-add-btn">Add</button>
</form>
