.todoapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    width: 100%;
  }
}
